@import "src/styles/variables";
@import "src/styles/shared";
@import "src/styles/animations";

%wllpaper-photo {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.fc-wallpaper-photo {
  @extend %wllpaper-photo;

  &::before {
    @extend %wllpaper-photo;
    content: "";
    backdrop-filter: blur(2em);
    z-index: 10;
  }

  &::after {
    @extend %wllpaper-photo;
    content: "";
    opacity: 0;
    z-index: 11;
  }
}

.fc-wallpaper-paginator {
  backdrop-filter: blur(0.5em);
  bottom: 0;
  margin: $sp4;
  position: absolute;
  width: calc(100% - #{$sp8});
  z-index: 50;
}
