$shadow: 1px 1px 3px black;

:host {
  @apply flex items-center;
  @apply px-4 py-3 rounded-md;

  .photographer {
    @apply flex items-center gap-2;
    @apply font-medium text-white;
    @apply transition-[text-shadow];
    text-shadow: $shadow;

    pen-icon::part(svg) {
      @apply transition-[filter] fill-white;
      filter: drop-shadow($shadow);
    }
  }

  a {
    @apply no-underline;
  }
}
