@use 'variables' as *;
@use 'common';

$shadow: 1px 1px 3px black;

:host {
  border-radius: $sp1;
  display: flex;
  align-items: center;
  padding: $sp1 $sp2;

  .pen-paginator-photographer {
    display: flex;
    align-items: center;
    font-size: $sp2;
    font-weight: 500;
    transition: text-shadow 300ms ease-in;
    z-index: 12;
    color: white;
    gap: $sp1;
    text-shadow: $shadow;

    pen-icon::part(svg) {
      transition: filter 300ms ease-in;
      fill: white;
      filter: drop-shadow($shadow);
    }
  }
}
