$shadow: 1px 1px 3px black;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.375rem;

  pen-icon::part(svg) {
    transition-property: filter;
  }

  .photographer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: #fff;
    transition-property: text-shadow;

    &:hover, &:active {
      color: #0284c7;
    }

    &:not(:active) {
      text-shadow: $shadow;

      pen-icon::part(svg) {
        filter: drop-shadow($shadow);
      }
    }
  }

  a {
    text-decoration: none;
  }

  menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;

    li {
      button {
        background-color: transparent;
        border: 0;
        color: #fff;
        cursor: pointer;

        &:hover, &:active {
          color: #0284c7;
        }

        &:not(:active) {
          pen-icon::part(svg) {
            filter: drop-shadow($shadow);
          }
        }
      }
    }
  }
}
