
%wallpaper-common {
  @apply absolute left-0 top-0 overflow-hidden;
  @apply bg-transparent bg-center bg-no-repeat bg-cover;
  @apply h-dvh w-dvw;
}

:host {
  @apply flex justify-center;

  .wallpaper {
    &::before {
      @extend %wallpaper-common;
      @apply content-[''] z-10;
      filter: blur(2rem);
    }

    &::after {
      @extend %wallpaper-common;
      @apply content-[''] z-[11] opacity-0;
      transition: opacity 3000ms linear;
    }
  }

  pen-paginator {
    @apply absolute bottom-0 z-20;
    @apply mx-auto my-6 w-[95%];
    @apply transition-colors;

    &:hover {
      @apply shadow-lg bg-black bg-opacity-40;
      backdrop-filter: blur(1rem);
    }
  }
}
