:host {
  display: flex;
  justify-content: center;

  #wallpaper {
    position: relative;
    content: '';
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    height: 100dvh;
    width: 100dvw;
    transition-property: background-color;
    transition-duration: 500ms;
    background-color: #000;

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: auto;
      width: 100%;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 500ms;
    }

    :first-child {
      z-index: 1;
      filter: blur(2rem);
    }

    :last-child {
      z-index: 2;
    }
  }

  pen-paginator {
    position: absolute;
    bottom: 0;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 95%;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;

    &:hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.06);
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(1rem);
    }
  }
}
